body {
    font-family: verdana, arial, helvetica;
    background-color: white;
}


/* SITE */

.button {
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #efefef;
    margin: 5px;
    width: 200px;
    display: inline-block;
}

.vcmaker-quit-button {
    position: absolute;
    right: 0px;
    top: 0;
}

#header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    border-bottom: 1px solid grey;
    background-color: #efefef;
}

#content {
    text-align: center;
    margin-top: 100px;
}

#image-area {
    max-width: 700px;
    margin: 0 auto;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}

img.image.hidden {
    display: none;
}

#title-area {
    margin: 0 auto;
    width: 700px;
    margin-bottom: 10px;
    position: relative;
    text-align: right;
}

#title {
    width: 547px;
    font-size: 25px;
    text-align: left;
    outline: none;
    float: left;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#save-button {
    /*
    position: absolute;
    right: -106px;
    width: 100px;
    top: 0;
    margin-top: -3px;
    */
    width: 100px;
    position: relative;
    float: left;
}

#save-button.hidden {
    display: none;
}




.button {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #505050;
    border-radius: 2px;
    cursor: pointer;
}

.button.negative {
    background: rgb(255,191,191); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,191,191,1) 0%, rgba(255,68,68,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,191,191,1)), color-stop(100%,rgba(255,68,68,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,191,191,1) 0%,rgba(255,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,191,191,1) 0%,rgba(255,68,68,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,191,191,1) 0%,rgba(255,68,68,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,191,191,1) 0%,rgba(255,68,68,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbfbf', endColorstr='#ff4444',GradientType=0 ); /* IE6-9 */
}

.button.neutral {
    background: rgb(158,206,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(158,206,255,1) 0%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(158,206,255,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(158,206,255,1) 0%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(158,206,255,1) 0%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(158,206,255,1) 0%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(158,206,255,1) 0%,rgba(64,150,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eceff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.button.positive {
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(57,130,53,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(57,130,53,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(57,130,53,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}
