
.imkr.textedit-button {
	padding: 3px;
	border: 1px solid black;
	background-color: wheat;
	top: 416px;
	left: 500px;
	width: 54px;
	height: 14px;
	position: absolute;
	z-index: 100;
	color: black;
	cursor: pointer;
}

.imkr.button.hanging {
    padding: 10px;
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: -39px;
    position: absolute;
    z-index: 100;
    color: black;
    cursor: pointer;
    background-color: white;
}

.imkr.button.hanging.save {
	right: 20px;
}

.imkr.button.hanging.cancel {
    left: 20px;
}

.imkr.snapshot-button:hover {
	background-color: #efefef;
}

.imkr.caption {
	padding: 3px;
    font-family: "Impact", arial, tahoma;
    text-align: center;
	font-weight: bold;
	color: white;
	position: absolute;
	z-index: 100;
}

.imkr.caption.initial-mode {
    border: 1px dashed purple;
    background-color: black;
    opacity: 0.3;
}

.imkr.caption.initial-mode .text {
    font-family: Verdana, Arial;
    font-size: 20px;
}

.imkr.caption.outlined
{
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    
}

.imkr.caption.hidden {
	display: none;
}

.imkr.sidebar {
	z-index: 2000000000;
	width: 300px;
	position: absolute;
	top: 0px;
	right: 0px;
	border: none;
	margin: 0;
	padding: 0;
	/*border-left: 2px solid black; */
}

.imkr.delimiter {
     z-index: 2000000000;
     width: 5px;
     /*height: 100%;*/
     position: absolute;
     top: 0px;
     right: 300px;
     background-color: black;
     margin: 0;
     padding: 0;
}

.imkr.handle {
    z-index: 2000000000;
    width: 20px;
    /*height: 100%;*/
    position: absolute;
    top: 0px;
    /*right: 290px;*/
    margin: 0;
    padding: 0;
    cursor: ew-resize;
}

.imkr.caption:hover, .caption:active {
	border: 1px dotted white;
}

.imkr.mouse-selection {
	/*border: 3px dotted yellow;*/
	position: absolute;
	z-index: 200000;
}


.imkr.selecting {
    cursor: crosshair;
}


.imkr.shroud {
    background-color: black;
    opacity: 0.3;
    position:absolute;
    z-index: 200000;
}

.imkr.shroud.start {
    top: 0;
    left: 0;
    /*
    width: 100%;
    height: 100%;*/
}

.imkr.shroud.left {
    left: 0;
    top: 0;
}

.imkr.shroud.over {
    top: 0;
}

.imkr.shroud.under {
    /*bottom: 0;*/
}

.imkr.shroud.right {
    top: 0;
    right: 0;
}

.imkr.no-border {
	border: none;
}

.imkr.hidden {
	display: none;
}

.imkr.button {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #505050;
    border-radius: 2px;
    cursor: pointer;
}

.imkr.button.selectiondocked {
    border-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.imkr.button.negative {
    background: rgb(255,191,191); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,191,191,1) 0%, rgba(255,68,68,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,191,191,1)), color-stop(100%,rgba(255,68,68,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,191,191,1) 0%,rgba(255,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,191,191,1) 0%,rgba(255,68,68,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,191,191,1) 0%,rgba(255,68,68,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,191,191,1) 0%,rgba(255,68,68,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbfbf', endColorstr='#ff4444',GradientType=0 ); /* IE6-9 */
}

.imkr.button.neutral {
    background: rgb(158,206,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(158,206,255,1) 0%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(158,206,255,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(158,206,255,1) 0%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(158,206,255,1) 0%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(158,206,255,1) 0%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(158,206,255,1) 0%,rgba(64,150,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eceff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.imkr.button.positive {
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(57,130,53,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(57,130,53,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(57,130,53,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}
